*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("https://media.istockphoto.com/id/532378051/photo/night-sky-with-stars-and-clouds.jpg?s=612x612&w=0&k=20&c=M6HA8A8tq5cbJsAU0y39Qx6dTyoIti-CaYMi9WWbB_U=") ;
    background-size: cover;
}
h1{
    color: white;
    font-size:1.2rem;
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 500;
    padding:40px;
}
.align
{
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
h2{
    font-size: 5rem;
    color:white;
    text-transform: uppercase;
    font-family: cursive;
    letter-spacing: 3px;
}
h4{
    font-size: 1.3rem;
    color:white;
    font-family:'Mkta',sans-serif ;
    text-align: center;
    letter-spacing: 2px;
}
input{
    width: 30%;
    font-size: 0.8rem;
    padding:10px;
    background-color:white;
    border: 2px solid slategray;
    outline:none;
    cursor:pointer;
    margin-left: 30%;
    margin-top: 5%;
    color:rgb(33, 5, 5);
}
button{
    background-color: greenyellow;
    color:black;
    border: none;
    font-size: 0.9rem;
    padding:10px;
    margin-left: 3%;
    transition: 0.5s ease;
}
button:hover{
    background-color: black;
    color:white;

}
input::placeholder
{
    font-weight: 600;
    color:slategray;

}
img{
    width: 40px;
    height: 40px;
    transition: 0.3s ease;
}
.Social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3%;
    margin-top: 0px;
}
p{
    color:white;
    font-weight: 800;
    margin-left: 59px;
    height: 30px;
    font-size: 2rem;
    margin-top: 30px;
}
h4{
    font-size: 2rem;
    margin-top: 50px;
}
.kalyan{
    margin-left: 75rem;
    color:black;
    background-color: aqua;
}